/laskarit/viikko2/Unicafe/target

/laskarit/viikko2/Unicafe/nbproject/
SnippetManager/target
SnippetManager/languages.txt
/SnippetManager/nbproject/
SnippetManager/testeri.txt
SnippetManager/snippets.txt
nbactions.xml
